AZURE_SQL_DATABASE=free-sql-db-4814033
AZURE_SQL_HOST=azr06202615.database.windows.net
AZURE_SQL_USER=Wordle
AZURE_SQL_PASSWORD=CiemnaCichaN0c
AZURE_SQL_PORT=1433
AZURE_SQL_DRIVER=ODBC Driver 18 for SQL Server
